.root {
  position: sticky;
  top: 0;
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  height: 5rem;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  text-decoration: none;
}
